#sign-link {
    float: right;
    margin: 30px;
}

#sign-link  a {
    margin: 1px;
    color: black;
    text-decoration: none;
}

.docrob-tron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 160px;
    align-items: center;
}

.list-group-item {
    margin-bottom: 10px;
}

#title {
    text-align: left;
}

.card {
    margin: 20px 0;
    text-align: left;
}

.btn-primary {
    float: right;
}

.btn-group {
    float: right;
}