:root {
    --main-bg: #E6ECF0;
    --link-color: #3B94D9;
    --main-link-color: #848487;
    --light-bg: #FFF;
    --separator-color: #DDD;
}
* {
    box-sizing: border-box;
}
body, html {
    background-color: var(--main-bg);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
header {
    background-image: url("https://picsum.photos/1200/300");
    background-size: cover;
    min-height: 300px;
    padding-top: 275px;
}
a {
    color: var(--link-color);
}
.top-nav {
    z-index: 1000;
    background: var(--light-bg);
    position: fixed;
    width: 100%;
}
.nav {
    padding: 0;
}
.nav-item{
    display: inline;
    padding: 0 1.5em;
}
.nav-link {
    color: var(--main-link-color);
    font-weight: bold;
    text-decoration: none;
}
.nav-link:hover {
    color: var(--link-color);
}
.profile {
    height: 80px;
    background: var(--light-bg);
}
.profile-items{
    float: left;
    list-style: none;
    padding: 0;
}
.profile-image{
    position: absolute;
    top: 210px;
}
.profile-form{
    float: right;
    line-height: 80px;
}
.btn {
    border: 1px solid var(--main-link-color);
    color: var(--main-link-color);
    background: var(--light-bg);
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
}
.btn-large {
    font-size: 1.3em;
    padding: 10px;
}
.img-circle {
    border-radius: 100%;
    border: 4px solid var(--light-bg);
}
.text-right {
    text-align: right;
}
.text-muted {
    color: var(--main-link-color);
}
.profile-details{
    float: left;
    margin: .5em;
    width: calc(25% - 1em);
}
.who-to-follow{
    margin-top: 1em;
    float: right;
    width: calc(25% - 1em);
}
.timeline {
    margin-top: 1em;
    bottom: 40px;
    float: left;
    width: calc(50% - 1em);
}
.profile-entry{
    list-style: none;
}

.media {
    width: 100%;
    background: var(--light-bg);
    border-bottom: 1px solid;
    border-color: var(--separator-color);
    padding: .5em;
    overflow: auto;
}
.media-image{
    width: 50px;
    float: left;
    margin-top: 1.33em;
}
.media-body{
    float: left;
    width: calc(100% - 50px)
}
